* {
  box-sizing: border-box;
  margin: 0;
}

html {
  min-height: 100vh;
}

body {
  background-color: #5d375b;
  min-height: 100vh;
}

h1, h2, h3 ,h4{
  text-decoration: none;
  color: white;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.3rem;
}

h3 {
  font-size: 1.2rem;
}

p {
  font-size: 0.875rem;
  color: white;
}

nav {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  width: 100%;
  background-color: #342c42;
  padding-top: 5px;
  padding-bottom: 5px;
  
  padding-left: 10px;
}

nav.a {
  color: white;
}

label {
  width: 20rem;
  display: block;
  height: 0.875rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

input {
  width: 79%;
  margin-bottom: 1.2rem;
}


a {
  text-decoration: none;
  color: white;
}

#wrapper {
  margin: 0 auto;
  position: relative;
}

#child-wrapper {
  width: 600px;
  margin: 0 auto;
  margin-top: 3rem;
}

#disclaimer{
  padding-top: 700px;
}

header {
  background-color: #2a2229;
  color: #f2e394;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding-top: 0.7rem;

  height: 4rem;
}

/* Copy of header*/
footer {
  background-color: #2a2229;
  color: white;

  /* margin: 0 auto; */
  text-align: center;

  margin-top: 5rem;
  padding-top: 0.5rem;
  width: 100%;
  height: 3rem; 
}

form {
  background-color: #48314E;
  border-radius: 10px;
  margin-bottom: 2rem;
  margin-top: 2rem;
  padding: 1rem;
  color: white;
  border: 1px solid #0a130f;
}

/*same as #form*/
.post, .comment, .category {
  background-color: #48314E;
  border-radius: 10px;
  margin-bottom: 2rem;
  margin-top: 2rem;
  padding: 1rem;
  color: white;
  border: 1px solid #0a130f;
}

.category {
  text-align: center;
}


button {
  color: white;
  background-color: #251d24;
  border: 1px solid #0a130f;
  border-radius: 5px;
  padding: 4px;
  margin-top: 10px;
  margin-left: 0;
  margin-right: 8px;
  margin-bottom: 10px;
}